
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4A90E2; 
    color: white;
    padding: 20px;
    text-align: center;
    position: relative; 
}
header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold; 
}
header p {
    margin: 0;
    font-size: 1.2em;
    font-style: italic; 
}
.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 80px; 
}
audio {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    text-align: right;
    margin: 0;
    padding: 5px;
    background-color: #f4f4f4;
    display: block; /* Asegura que el reproductor de audio se muestre como un bloque */
    width: 100%; /* Hace que el reproductor de audio ocupe todo el ancho */
}
