<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro Educativo</title>
   
</head>
<body>
    <header>
        <img src="../../../assets/img/proalogo.png" alt="Logo de Mi Empresa" class="logo"> 
        <h1>Foro Educativo</h1>
        <p>Un espacio para aprender y compartir conocimientos</p>
    </header>
    <audio controls>
        <source src="assets/img/Los Tipitos - Campanas en la noche (AUDIO) (1).mp3" type="audio/mpeg"> 
        Tu navegador no soporta el elemento de audio.
    </audio>
</body>
</html>
